{% extends '_layouts/detail-entry.njk' %}
{% set entry= data.entries[2] %}


{% block story %}
<img src="img/kraken03.jpg" alt="Kraken 03">
    <h1>{{entry.title}}</h1>
    <h5>Captain's log: {{entry.date}}</h5>
    <p>
    Odio aenean sed adipiscing diam donec adipiscing. Sed viverra ipsum nunc aliquet bibendum enim. A erat nam at lectus urna duis. In tellus integer feugiat scelerisque varius morbi enim. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Dictum fusce ut placerat orci nulla pellentesque. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. At tellus at urna condimentum mattis pellentesque id. Adipiscing bibendum est ultricies integer quis. Odio eu feugiat pretium nibh ipsum consequat. Elit pellentesque habitant morbi tristique. Id diam vel quam elementum pulvinar etiam non quam lacus.
    </p>
    {% endblock%}