{% extends '_layouts/detail-entry.njk' %}
{% set entry= data.entries[1] %}


{% block story %}
<img src="img/kraken02.jpg" alt="Kraken 02">
    <h1>{{entry.title}}</h1>
    <h5>Captain's log: {{entry.date}}</h5>
    <p>
    Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Cum sociis natoque penatibus et magnis dis. Risus nec feugiat in fermentum posuere urna nec. Eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Quis vel eros donec ac odio. Eget duis at tellus at urna condimentum. Condimentum mattis pellentesque id nibh tortor id. Sodales ut eu sem integer vitae. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Condimentum vitae sapien pellentesque habitant morbi. Sed augue lacus viverra vitae. Adipiscing diam donec adipiscing tristique risus nec feugiat in.
    </p>
    {% endblock%}