{% extends '_layouts/detail-entry.njk' %}
{% set entry= data.entries[0] %}


{% block story %}
    <h1>{{entry.title}}</h1>
    <h5>Captain's log: {{entry.date}}</h5>
    <p>
    A cras semper auctor neque vitae. Risus at ultrices mi tempus imperdiet nulla malesuada. Ut sem nulla pharetra diam sit amet. Amet cursus sit amet dictum sit amet justo donec. Cursus turpis massa tincidunt dui ut ornare lectus. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Nec sagittis aliquam malesuada bibendum arcu. Ac felis donec et odio. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Faucibus nisl tincidunt eget nullam non nisi est sit.
    </p>
    {% endblock%}